:root{
    --body-bg-color: #141414;
    --purple: #BB99DD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--purple);
}
.content{
    align-items: center;
    justify-content: center;
}
.avatar-container{
    margin-top: 3.5%;
    text-align: center;
    color: var(--purple);
    margin-bottom: .9rem;
    font-weight: 600;   
}
.perfil{
    padding: 2px;
    max-width: 280px;
    max-height: 280px;
    border-radius: 50%;
    border: solid var(--purple);
}
.links-container{
    align-items: center;
    display: grid;
    place-items: center;
    margin-top: 30px;
    min-width: 100%;
}
.links-container > a{
    text-decoration: none;
    color: var(--purple);
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid var(--purple);
    margin-bottom: .9rem;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.183rem;
    margin: 20px 30px 30px 30px;
}
@media screen and (min-width: 900px) {
    .links-container > a {
      max-width: 35%;
    }
  }
  @media screen and (min-width: 400px) {
    .links-container > a {
      width: 70%;
    }
  }
  @media screen and (min-width: 200px) {
    .links-container > a {
      width: 70%;
    }
  }